@model Website.Views.Account.LoginModel
@{
}

<div>
    <form action="~Account/Login" method="post">
        <div class="container__login">
            <div>
                <H3>Логин</H3>
                <input name="Name" style="height:10px; width:100px; font-size: 10px" />
            </div>
            <div>
                <H3>Пароль</H3>
                <input name="Password" style="height:10px; width:100px; font-size: 10px" />
            </div>
        </div>
    </form>
</div>
